@import '../../_settings/mixin';

.a-textarea-wr {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.a-textarea {
    border: none;
    border-radius: 5px;
    padding: 16px 18px;
    background: rgba($dark-liver, .8);

    @include input-text-style;
}

.a-textarea__label {
    @include label-style;
}