@import '../../_settings/variables';

.a-button-info {
    background: $raisin-black;
    color: $white;
    width: 36px;
    height: 36px;
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    font-size: 22px;
}

.a-button-info .icon {
    transform: rotate(-90deg);
}