@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/MontserratAlternates-Medium.woff') format('woff');
}

@font-face {
    font-family: 'montserrat-regular';
    src: local('Montserrat-Regular'),
        local('Montserrat Regular'),
        url('/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 100 600;
}

@font-face {
    font-family: 'montserrat-light';
    src: local('Montserrat-Light'),
        local('Montserrat Light'),
        url('/assets/fonts/MontserratAlternates-Light.woff') format('woff');
    font-weight: 100;
}