// Collor
$infra-red: #F65261;
$red: red;
$arsenic: #424242;
$raisin-black: #232323;
$davy-grey: #555555;
$white: #fff;
$granite-gray: #606060;
$black: #000;
$dark-liver: #505050;
$raisin-black: #2A202D;
$bud-green: #80B859;

// Font
$montserrat-font: 'montserrat-regular', sans-serif;
$montserrat-font-bold: 'montserrat-bold', sans-serif;