 @import '../../_settings/variables';

 .o-film-info {
   background: $raisin-black;
   padding: 16px 64px;
   margin-bottom: 32px;
 }

 .o-film-info__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
 }

 .o-film-info__wr {
    display: flex;
 }

 .o-film-info__img {
    margin-right: 64px;
    width: 324px;
    flex: 0 0 auto;
 }

 .o-film-info__img img {
    width: 100%;
 }

 .o-film-info__details {
    width: 100%;
 }

 .o-film-info__details-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 32px;
 }

 .o-film-info__details-rating {
    margin-left: 32px;
    color: $bud-green;
    font-size: 24px;
    border: 1px solid $white;
    border-radius: 50px;
    font-family: $montserrat-font;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .o-film-info__details-award {
    width: 100%;
    font-family: $montserrat-font;
    color: $white;
    opacity: 0.7;
 }

 .o-film-info__details-date {
    margin-bottom: 32px;
 }

 .o-film-info__details-date span {
    font-family: $montserrat-font;
    color: $infra-red;
    font-size: 24px;
    margin-right: 32px;
 }
