@import '../../_settings/variables';

.a-btn-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.a-btn-icon__primary {
    color: $infra-red;
}

.a-btn-icon__secondary {
    color: $white;
}

.a-btn-icon__small {
    font-size: 14px;
}

.a-btn-icon__medium {
    font-size: 24px;
}