@import '../../_settings/variables';

.a-header {
    color: $white;
    font-family: 'montserrat-regular', sans-serif;
}

.a-header--h1 {
    font-size: 38px;
    line-height: 49px;
    text-transform: uppercase;
}

.a-header--h3 {
    font-size: 18px;
    opacity: 0.7;
    margin: 8px 0;
}