@import '../../_settings/variables';

@mixin caption-text {
    font-family: $montserrat-font;
    color: $white;
    opacity: .5;
    
}

.m-film-card {
    max-width: 33.33%;
    width: 100%;
}

.m-film-card__img-wr {
    width: 100%;
    position: relative;
}

.m-film-card__btn-info {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;
}

.m-film-card__img {
    width: 100%;
}

.m-film-card__img:hover+.m-film-card__btn-info,
.m-film-card__btn-info:hover {
    display: flex;
}

.m-film-card__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.m-film-card__caption-title {
    flex-basis: 70%;
}

.m-film-card__caption-year {
    width: 76px;
    height: 24px;
    border: 1px solid $granite-gray;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 12px;

    @include caption-text;
}

.m-film-card__caption-category {
    width: 100%;
    font-size: 14px;

    @include caption-text;
}