@import '../../_settings/variables';

.o-films-block {
    background: $raisin-black;
    padding: 16px 62px;
    margin-bottom: 56px;
}

.o-films-block__divider {
    margin: -3px 0 0;
}

.o-films-block__list {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -16px 0;
}

.o-films-block__list-item {
    padding: 0 16px 32px;
}

.o-films-block__search-result {
    color: $white;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 14px;
    margin-top: 24px;
}

.o-films-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}